<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Federation of Time | fot-eve.ru</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'mainapp/css/verstka.css' %}">
<link rel="stylesheet" href="{% static 'mainapp/css/mains.css' %}">
<link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}">
<link rel="shortcut icon" type="image/ico" href="{% static 'mainapp/images/ico.ico' %}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<script src="{% static 'mainapp/js/app.js' %}" defer></script>
<script src="{% static 'mainapp/js/common.js' %}"></script>
</head>
<body>

<script type="text/javascript">
    domReady(function () {
        stFiles.init({
        });
        new WOW.WOW().init();
    });
</script>
<div class="shapka">
    <nav class="navMain">
        <div class="navMain__elements">
            <div class="navMain__logo">
                <style>
                    .logotip {
                        width: 45px;
                        height: 45px;
                        margin-top: +27px;
                    }
                    .logo {
                        margin-left: 10px;
                        font-width: bold;
                        position: relative;
                        top: +18px;
                        color: #fff;
                        font: 700 18px Geometria;
                    }
                    .correctlogin {
                        width: 42px;
                        height: 42px;
                    }
                    .correctdownload {
                        width: 42px;
                        height: 42px;
                        margin-left: 5px;
                    }
                </style>
                <img class="logotip" src="{% static 'mainapp/images/logo1.png' %}" alt="Лого">
                <span class="logo">FEDERATION OF TIME</span>
            </div>
            <ul class="navMain__links mb-0">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'alliance' %}">Альянс</a></li>
                <li><a href="{% url 'control' %}">Управление</a></li>
                <li><a href="{% url 'promotions' %}">Акции</a></li>
                <li><a href="{% url 'rent' %}">Аренда</a></li>
                <li><a href="{% url 'gid' %}">Гайды</a></li>
                <li><a href="{% url 'inst' %}">Инструменты</a></li>
            </ul>
            <ul class="navMain__links--sec">
                <li><a class="navMain__auth" href="{% url 'login_eve' %}"><img class="correctlogin" src="/media/verstka/login.png" alt="login icon png"/><p>Авторизация</p></a></li>
                <li><a href="{% url 'downloads' %}"><img class="correctdownload" src="/media/verstka/download.png" alt="login icon png"/></a></li>
            </ul>
        </div>
    </nav>
</div>
    <main class="main__home">
        <div class="col-lg-11">
            {% for corporation in corp %}
                <div style="margin-top: 70px;" class="col-md-4 cc wow fadeInLeft">
                    <div class="border info mt-lg-4" >
                        <div class="co">
                            <img src="{{ corporation.logo.url }}">
                            <h4 class="corpt">{{ corporation.title }}</h4>
                            <div>
                                <div class="corpt">{{ corporation.tagline }}</div>
                            </div>
                        </div>
                        <div class="correct">
                            <ul>
                                <li style="list-style: none">
                                    <span><b>Дата присоединения:</b>{{ corporation.world_premiere }}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Страна:</b>{{ corporation.country }}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Численность:</b>{{ corporation.number }}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Директор:</b>
                                    {% for Di in corporation.directors.all %}
                                        <img class="widthaheight" src="{{ Di.image.url }}">
                                   <{{ Di.names }}
                                     {% endfor %}
                                    </span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Заместители:</b>
                                    {% for deputy in corporation.deputy.all %}
                                        <img class="widthaheight" src="{{ deputy.image.url }}">
                                     {{ deputy.names }}
                                    {% endfor %}
                                    </span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Акции:</b> <font color="green"> $</font>{{ corporation.act }}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Набор:</b>{{ corporation.recruitment }}</span>
                                </li>

                                <li style="list-style: none">
                                    <a href="{{ corporation.link }}"><font color="black"><h4 class="corpt">Zkillboard</h4></font></a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

<div class="footer__agreements d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="footer_row">
            <div class="col-12 col-sm-4 d-flex justify-content-center justify-content-lg-start">
                <a href="/doc/oferta.pdf" class = "footer__agreement">
                    Пользовательское соглашение                </a>
            </div>
            <div class="col-12 col-sm-4 d-flex justify-content-center justify-content-lg-start">
                <a href="/doc/privacy.pdf" class = "footer__agreement">
                    Политика защиты персональной информации                </a>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>

